@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&family=Sacramento&display=swap');

/* BASE RESET */
* {
    margin: 0;
    padding: 0;
}


html {

    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*UNIVERSAL STYLES*/
body {
    display:flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px; /* 1rem*/
    line-height: 1.2;
    margin: 0 auto;
    max-width: 100%;
}

h1 {
    color: #666;
    font-weight: 900;
    margin: 3rem 6rem;
    display: flex;  
    font-size: 3.25rem;
    text-transform: uppercase;
   
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

h3 {
    margin: 0.5rem auto;
    color: #ab8093;
    margin-top: 1.75rem;
}


button {
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    align-items: center;
    font-size: 2rem;
    margin: 3rem 1rem 1rem -0.5rem;
    background-color: goldenrod;
    color: #fff;
    font-weight: 600;
    font-family: 'Work Sans';
    font-style: italic;
  
}


button:hover {
    background-color: #e6e6e6;
    color: goldenrod;
    transition: all 0.2s ease-out;
 }

 

/* NAV */
nav {
    background-color: #ab8093;
    position: fixed;
    top: 0;
    width: 100%;
    
}


.nav-list {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: flex-end;
    padding: 3rem 0;
}

@media screen and (max-width: 600px) {
   
    
    .nav-list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-list a {
        font-size: 1.5rem;
        font-weight: 200;
        padding: 1px;
    }
   
}
    
/* NAV LIST LINKS */   
    
.nav-list a {
    font-size: 2rem;
    margin-right: 2rem;
    color: #e6e6e6;
    padding: 0.25em;
    
}

.nav-list a:hover {
    color: #996666;
    background-color:#e6e6e6;
    transition: all 0.2s;
 }

.nav-list a:visited{
    color: #f2f2f2;
}






/* WELCOME-SECTION */



.welcome-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ab8093;
    justify-self: center;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    align-items: center;
    
}

#welcome-section > h1 {
    font-family: 'Sacramento', monospace;
    font-size: 6rem;
    color: #ffffff;
    text-transform: none;
    
}

#welcome-section > h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.75rem;
    font-weight: 300;
    color: #ffffff;
}

#welcome-section > p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 100;
    margin-top: 1rem;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    #welcome-section > h1 {
        font-size: 3rem;
    }
    #welcome-section > h2 {
        font-size: 1.5rem;
    }
    
    .welcome-section {
        width: 100%;
    }
}


/* PROJECT SECTION */

#projects {
    background-color: #ffffff;
    width: 100%;
}



.project {
    display: flex;
    margin: auto;
    height: 75vh;
    align-items: center;
    justify-content: center;
    max-width: 75%;

}

.project-desc {
    padding: 2rem;
    font-family: 'Work Sans';
    font-size: 1.75rem;
    max-width: 33%;
    margin-left: 6rem;
    
    
}


.project-image {
    /* height: calc(100% - 6.6rem); only applicable with project grid */
    border-radius: 25px;
    width: 75%;
    border: 1px solid seashell;
   
}



@media screen and (max-width: 600px) {
    .project {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        
    }

    .project-image {
        min-width: 200px;
        margin: 1rem auto 0 auto;
    }

    .project-desc {
        min-width: 90%;
        margin: 0 auto;

    }

    .project-section > h1 {
        justify-content: center;

    }
}








/* CONTACT SECTION */

.invite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 2rem auto 0 auto;
    height: 75vh;
}

.emailme {
    font-size: 3rem;
    color: goldenrod;
    margin: 2rem;
    max-width: 33%;
}


.selfie {
    max-width: 300px;
}



@media screen and (max-width: 600px) {

    .emailme {
        font-size: 1rem;
        color: goldenrod;
        margin: 2rem;
        max-width: 75%;
        text-align: center;
    }

    .invite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 2rem auto 0 auto;
        height: 75vh;
    }

    .contact-section > h1 {
        justify-content: center;
    }
   
}



/* FOOTER */
footer {
    background-color: #ab8093;
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
}

footer > p {
    font-size: 2rem;
    color: #fff;
}

.sm-links > a {
    width: 100%;
    font-size: 4rem;
    margin: 1.5rem;
    color: #fff;
    
    
}

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
    
    }

    .sm-links > a {
        font-size: 3rem;
    }

    footer > p {
        font-size: 1.5rem;
    }
}
/* need to add social media icon links */