@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&family=Sacramento&display=swap');

/* BASE RESET */
* {
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*BASE STYLES*/
body {
    background-color: rosybrown;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px; /* 1rem*/
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    color: seashell;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: seashell;
}

img {
    display: block;
    width: 100%;
}

h3 {
    margin: 0.5rem auto;
}


/* NAV */
nav {
    background-color: seashell;
    position: fixed;
    width: 100%;
    padding: 3rem;
    
}


.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 2rem;
}

@media screen and (max-width: 480px) {
   
    
    .nav-list {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .nav-list a {
        font-size: 1.5rem;
        font-weight: 200;
        padding: 1px;
    }
   
}
    
    
    
.nav-list a {
    font-size: 2rem;
    margin-right: 2rem;
    color: rosybrown;
    border: 1.5px solid antiquewhite;
    padding: 0.25em;
    transition: all 0.2s;
}

.nav-list a:hover {
   color: rosybrown;
   background-color:antiquewhite;
}

.nav-list a:visited{
    color: rosybrown;
}






/* WELCOME-SECTION */

#welcome-section {
    width: 100%;
}

.welcome-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
}

#welcome-section > h1 {
    font-family: 'Sacramento', monospace;
    font-size: 6rem;
    color: black;
}

#welcome-section > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.75rem;
    font-weight: 300;
}

#welcome-section > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 100;
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    #welcome-section > h1 {
        font-size: 3rem;
    }
    #welcome-section > h2 {
        font-size: 1.5rem;
    }
    
    .welcome-section {
        width: 100%;
    }
}


/* PROJECT SECTION */



.projects-header {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 2.75rem;
    
    
}

@media screen and (max-width: 480px) {
    .projects-header {
        font-size: 1.75rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 3rem;
    
}

@media screen and (max-width: 480px) {
    #projects {
        padding: 5rem 1rem;
        margin: 0 auto;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}



.project-image {
    height: calc(100% - 6.6rem);
    border-radius: 25px;
    width: 100%;
    border: 1px solid seashell;
   
}


.project-title {
    display: flex;
    justify-content: center;
    z-index: 3;
    margin-top: -1rem;
}

.project-p {
    font-size: 1.5rem;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    padding: 2.5rem 0.5rem;
}

.project-title:hover {
    background-color: seashell;
    transition:  background-color 0.3s ease-in-out;
}





/* CONTACT SECTION */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    margin-top: 2rem;
    background: seashell;
}


.contact-section > h1 {
    color: sienna;
    margin-top: 1rem;
}

.contact-section > p {
    font-size: 2rem;
    font-weight: 600;
    color: goldenrod;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.75rem;
    margin: 1.75rem;
    justify-content: space-around;
}

.contact-links > a {
    color: sienna;
}

.pdf-download > a {
    color: sienna;
}

i {
    padding-right: 0.2rem;
}

@media screen and (max-width: 480px) {

    .contact-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    .contact-section > h1 {
        font-size: 2rem;
    }

    .contact-section > h2 {
        font-size: 1em;
        margin-top: 0.5rem;
    }

    .contact-section > p {
        font-size: 1.5rem;
        margin: auto;
    }

    .contact-links {
        font-size: 1.25rem;
        display: flex;
        justify-content: space-around;
    }
}



/* FOOTER */
footer {
    background-color: seashell;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    margin: 0 auto;
}

footer > p {
    font-style: italic;
    font-size: 1.25rem;
    margin-left: 2rem;
}

