:root {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
    background-color: black;

}
.container {
    display: flex;
}

.main {
    margin: 10rem 5rem 0 10rem;
    width: 960px;
}

header {
    margin-top: 3rem;
}

h1 {
    text-align: center;
    color: #be9b4e;
    font-family: 'Orbitron';
    
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
}


a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
}

li {
    list-style-type: none;
}




footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    color: white;
    font-family: 'Orbitron';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.25rem;
}

#attribution { 
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
}