* {
    margin: 0px;
    box-sizing: border-box;;
}

html {
    background-color: black;
    font-family: 'Open Sans';

}
main {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
}

header {
    margin-top: 3rem;
}

figure {
    margin: 1rem;
}

figcaption {
    background-color: #be9b4e;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
}


h1 {
    font-family: 'Orbitron';
    text-align: center;
    color: goldenrod
}