 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
    <small> {{ post.date | date("EEEE, MMMM d, yyyy h:mma z") }}
 </small>
     </div>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p><a href="/">← Back to home</a></p>
     <p>© 2025 Yessi Kenney</p>
    <div> <a href="https://yessikenney.com" target="_blank" rel="noopener"> Portfolio </a>
      <a href="https://github.com/yesskenn" target="_blank" rel="noopener">GitHub</a>
      <a href="https://linkedin.com/in/yessikenney" target="_blank" rel="noopener">LinkedIn</a>
            <a href="https://rubyspice.neocities.org/" target="_blank" rel="noopener">NeoCities</a>
  </footer>
</body>
</html>
