@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Sacramento&display=swap');




body {
  background-color: #3b0c30;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 960px;
  margin: 0 auto;
}

h1, 
header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.header-pic {
  height: 100px;
}

ul {
  margin: 0;
  padding-left: 15px;
  color: #f3f3f3;
}

#info {
  display: flex;
  marg
  
}
.profile-pic {
  height: 200px;
}
  
.bio {
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#choose-list {
  background-color: #bebebe;
  padding: 8px;
  
}
#name-date {
  display: flex;
  justify-content: space-between;
}

#name-date h2{
  color: #C6AED4;
  margin: 0;
  font-size: 1.25em;
}

#tech {
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  color: #f3f3f3;
  font-family: 'Sacramento', monospace;
  font-size: 3em;
  padding-left: 15px;
}

h4 {
  color: #F3f3f3;
  font-size: 1em;
  margin: 5px 0 10px 0;
}

h2 {
  color: #f3f3f3;
}


time {
  color: #f3f3f3;
  font-size: 1.25em;
}

#interest {
  margin-top: -30px;
}

.excited {
  background-color: #BEBEBE;
  padding: 10px;
}

.excited p {
  color: #F3F3F3;
}

.excited h4 {
  color: #3b0c30;
}

figure {
  margin: 5px 0;
  text-align: center;
}
 
figure > img {
  max-height: 180px;
  max-width: 180px;
}

figcaption {
  background-color: rgba(10, 10, 10, 0.5);
  color: #F3F3F3;
  max-width: 180px;
  height: 125px;
  text-align: center;
  position: relative;
  top: -40px;
}

footer {
  color: #F3F3F3;
  text-align: center;
  margin-top: 10px;
}

footer p {
  color: #F3F3F3;
}


