---
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/consts";
---

<Layout title={SITE.TITLE} description={SITE.DESCRIPTION}>
    <main class="min-h-screen flex items-center flex-col gap-4 justify-center">
        <h1 class="heading text-4xl uppercase">404</h1>
        <p class="text-secondary">
            Lost in the sauce.
        </p>
        <p>      What you seek never existed, or perhaps has ceased to exist.
</p>
        <a href="/" class="cursor-pointer underline">&larr; Go Back</a>
    </main>
</Layout>
