---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'

import { Accordion, AccordionItem, Avatar, AvatarGroup, Heading, Link } from 'accessible-astro-components'
---

<DefaultLayout title="credits">
  <PageHeader
    title="credits"
    subtitle="Resources and tools used to build this site"
    bgType="neutral"
  />
<!-- 
  <section class="container my-16">
    <div class="container">

      <Heading level="h2">Credits</Heading>
      <p class="text-2xl">
        We're a community of developers who are passionate about making the web more accessible. We're always looking
        for new ways to improve the accessibility of the web.
      </p>
      <AvatarGroup display="grid" gridItemsSize="300px" gridGap="2rem">
        <Avatar initials="RJ" title="Robert Johnson" subtitle="Manager" />
        <Avatar initials="MT" title="Maria Torres" subtitle="Developer" />
        <Avatar initials="AK" title="Alex Kim" subtitle="Designer" />
        <Avatar initials="SL" title="Sarah Lee" subtitle="Content Strategist" />
        <Avatar initials="JP" title="James Peterson" subtitle="QA Engineer" />
        <Avatar initials="LW" title="Lisa Wong" subtitle="Product Owner" />
        <Avatar initials="DM" title="David Martinez" subtitle="UX Researcher" />
        <Avatar initials="EB" title="Emma Brown" subtitle="Accessibility Specialist" />
        <Avatar initials="TC" title="Thomas Chen" subtitle="Frontend Developer" />
      </AvatarGroup>
    </div>
</section>-->
        <section class="container my-16">

        <div class="space-content">
      <ul class="flex list-none flex-col gap-2">
        <li><a href="https://astro.build">Astro (new build alert!)</a></li>
        <li>Previously built with <a href="https://www.freecodecamp.org/news/learn-eleventy/" target="blank">11ty</a></li>
        <li><a href="https://codepen.io/oliviale/pen/dyydRqJ" target="_blank">Olivia Ng's Just Bullet Journal Things</a></li>
        <li><a href="https://ohhelloana.blog" target="_blank">Oh Hello Ana Blog</a></li>
        <li><a href="https://cavacado.neocities.org/posts/020221/">Cavacado</a></li>
      </ul>
    </div>
        <div class="space-content">


        <Heading level="h3" size="h6">Developer tools</Heading>
        <ul class="flex flex-col gap-2">
          <li>
            <Link isExternal href="https://chrispederick.com/work/web-developer/">Web Developer Extension</Link>
          </li>
          <li>
            <Link isExternal href="https://accessibilityinsights.io/">Accessibility Insights</Link>
          </li>
          <li>
            <Link isExternal href="https://www.deque.com/axe/devtools/">axe DevTools</Link>
          </li>
          <li>
            <Link isExternal href="https://wave.webaim.org/extension/">WAVE Web Accessibility</Link>
          </li>
          <li>
            <Link isExternal href="https://www.w3.org/WAI/ARIA/apg/patterns/">ARIA Design Patterns</Link>
          </li>
          <li>
            <Link isExternal href="https://aaardvarkaccessibility.com/wcag-plain-english/">WCAG Plain English</Link>
          </li>
        </ul>
      </div>
  </section>


  