---

import Layout from "@/layouts/Layout.astro";

---


<Layout>
    <section id="Services" class="container mx-auto px-6 pt-18">
        <h2 class="heading text-3xl md:text-9xl uppercase mr-4 md:mr-8 my-8">
        services       
        </h2>

        <div id="services-grid" class="grid grid-cols-1 md:grid-cols-3 grid-rows-1 gap-4">
            <div class="m-4 p-6 border-2 rounded-lg"><h3 class="mb-2 text-xl">Web Design / Maintenance</h3> 
            <p>For organizations that need someone to trust with their site.</p>
            <p>Redesigns and/or general upkeep keeps your site current, functional, and reflects you and where you are.
        
             </div>
            <div class="m-4 p-6 border-2 rounded-lg"><h3 class="mb-2 text-xl">Accessibility Audit / Remediation</h3>
            <p>Accessibility should be baked in from the beginning; it dictates who gets to use your site. </p> </div>
            <div class="m-4 p-6 border-2 rounded-lg"><h3 class="mb-2 text-xl">Brand Foundation</h3>
            <p>For organizations ready to be consistent. A brand is the essence of your business and communicates what you do. </div>
        </div>

        <div class="m-4 p-2"><p>Not sure which service fits your situation? Send me a message: hi@yessikenney.com</p>
    </section>
</Layout>