:root {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
    background-color: black;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    display: flex;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    align-content: center;
}

h1 {
    font-family: 'Orbitron';
    color: goldenrod;
    text-align: center;
    margin-top: 3rem;
}