* {
    margin: 0;
    box-sizing: border-box;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #ccc;
    margin: 10px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    backface-visibility: hidden;
}


.card-face-front {
    background: aliceblue;
}

.card-face-back {
    background: navy;
   transform: rotateY(180deg);
}


.card.is-flipped {
    transform: rotateY(180deg);
}

img {
    max-height: 200px;
} 

h1 {
    text-align: center;
}