* {
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-top: 3rem;
    
}


header > h1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
}

button {    
    display: flex;
    justify-content: center;
    margin: auto 1rem;
    padding: 10px;
    
    border: none;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #ccc;
    margin: 10px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    backface-visibility: hidden;
}


.card-face-front {
    background: aliceblue;
}

.card-face-back {
    background: #f3f3f3;
   /* background: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 20px, #999797 30px, #f3f3f3 25px);*/
    transform: rotateY(180deg);
}


.card.is-flipped {
    transform: rotateY(180deg);
}

img {
    max-height: 200px;
} 

h1 {
    text-align: center;
    font-family: 'Raleway';

}

p,
li{
    text-align: center;
    font-family: 'Ranchers';
    color: goldenrod;
    margin-top: 2rem;
}

h2 {
    font-family: "Raleway";
    text-align: center;
    color: rgb(131, 131, 131);
    text-transform: capitalize;
}


li {
    text-decoration: none;
    color: black;
}