<section id="About" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-2xl md:text-6xl uppercase">About me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div class="space-y-6">
            <div
                class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
            >
                <img
                    src="/portrait.webp"
                    alt="Yessi Kenney portrait"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>

        <div>
            <div class="text-lg md:text-lg text-secondary space-y-4">
                
                <p> I work in the space between front-end development and design to build accessible web systems. <br/>
                    I have done the research, built the wireframes, shipped the components, and enforced the standards. </p>
                    <p> I'm currently a webmaster at the California Department of Education, where I manage accessible, standards-compliant web content. Previously: I’ve worked on UX and implementation-focused projects for nonprofit and government-related organizations, including interactive PDF form development, web refresh work, and interface improvements across existing systems.<br/>
                        
                   Outside of my full-time role, I work on independent projects involving front-end development, interface design, and accessibility-focused improvements for organizations that need reliable digital systems.</p>

                  
                <p>
                    When I'm not fixing things on the internet, I'm probably organizing my notes, tweaking a color palette, and being inspired by streetlights, flowers, and cute cartoons or video games. I also enjoy reading, playing Sudoku, and loafing with my family.
                </p>
                <p>Right now, I'm interested in roles where UX design, front-end development, accessibility overlap. <br/><a href="mailto:hi@yessikenney.com">hi@yessikenney.com</a></p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    Fluent in
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        HTML
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        CSS
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Javascript
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Accessible Design
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Sitecore
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Figma
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        WordPress
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Drupal
                    </span>

                  

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Webflow
                    </span>
                   <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Spanish
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</section>
