<section id="About" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-2xl md:text-6xl uppercase">About me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div class="space-y-6">
            <div
                class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
            >
                <img
                    src="/portrait.webp"
                    alt="Yessi Kenney portrait"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>

        <div>
            <div class="text-lg md:text-lg text-secondary space-y-4">
                <p>
                    I'm an accessibility-minded web designer and digital communicator with roots in government compliance and a background in art and design.
                    </p>
                    <hr/>
                    <p>My path hasn't ever been linear. I've served tables, worked at a bakery, been a teaching assistant, and worked as an Apple tech advisor - among many other things. 
                    These experiences taught me how to solve a variety of problems with care.
</p>
<p>
                    Now, I apply this same caring problem-solving into digital spaces —  from interactive accessible PDFS and government web systems to nonprofit redesigns and brand builds. I've enforced accessibility standards at scale and written content for organizations where I wasn't even the subject matter expert (with proper research and delivery ofc). 
                    I create and design sites that need to actually serve their users, not just exist. 
                </p>
                <p>
               
When I'm not making things on the internet, I'm probably organizing my notes, tweaking a color palette, and being inspired by streetlights, flowers, and cute cartoons or video games. I also enjoy reading, playing Sudoku, and loafing with my family.
                </p>
                <p>If you want a website that's accessible from the start, intuitive, well-designed - let's connect: hi@yessikenney.com</p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    Fluent in
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        HTML
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        CSS
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Javascript
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Accessible Design
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Sitecore
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Figma
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        WordPress
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Drupal
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Wix
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Webflow
                    </span>
                   <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Spanish
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</section>
