<section id="About" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-2xl md:text-6xl uppercase">About me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div class="space-y-6">
            <div
                class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
            >
                <img
                    src="/portrait.webp"
                    alt="Yessi Kenney portrait"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>

        <div>
            <div class="text-lg md:text-lg text-secondary space-y-4">
                
                <p> I'm in the space between design and front-end development where I build accessible web systems. <br/></p>
                <p>My career backstory has pieces of UX, front-end development, accessibility, content operations, design, and more all to create a picture of someone that uses whatever tools are at her disposal to leave something better than when she found it. </p>

                <p>Today, I help steward the California Department of Education's web presence by supporting accessibility, content standards, governance, and user experience across a large and in-charge (aka complex) public platform.</p>
                <p>My work across government and nonprofit organizations involve web modernization, accessible form development, interface improvements, and front-end implementation. Those experiences shaped an approach shaped on clarity, sustainability, and accessibility at scale.</p>

                  
                <p>
                    When I'm not fixing things on the internet, I'm probably organizing my notes, tweaking a color palette, and being inspired by streetlights, flowers, and cute cartoons or video games. I also enjoy reading, playing Sudoku, and loafing with my family.
                </p>
                <p>Let's chat: <br/><a href="mailto:hi@yessikenney.com">hi@yessikenney.com</a></p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    Fluent in
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        HTML
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        CSS
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Javascript
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Accessible Design
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Sitecore
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Figma
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        WordPress
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Drupal
                    </span>

                  

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Webflow
                    </span>
                   <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Spanish
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</section>
