<section id="About" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-2xl md:text-6xl uppercase">About me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div class="space-y-6">
            <div
                class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
            >
                <img
                    src="/portrait.webp"
                    alt="Yessi Kenney portrait"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>

        <div>
            <div class="text-lg md:text-lg text-secondary space-y-4">
                
                <p>I'm a creative developer romanticizing clean code and visuals. I care about how things look and how they function thanks to my background in art/design, front-end development, and digital communications.</p>
                    
                    
                    <p> By day, I'm a webmaster at the California Department of Education. I do a lot of reviews to check for accessibility compliance and I redesign things in Figma that need improving (even though no one asked me to). By night, I'm a freelance creative developer. I've built sites, made logos, and kept things running for organizations who needed someone to just handle it.</p>

                   <!-- <p> Honestly, I love getting underneath the hood of an outdated website and fixing it up into something that actually runs well and looks cool. I care about the small deets and I want the spacing to feel juuuust right. I also want buttons and links to work how they should, and creating things with JavaScript. </p> -->
                <p>
                    When I'm not fixing things on the internet, I'm probably organizing my notes, tweaking a color palette, and being inspired by streetlights, flowers, and cute cartoons or video games. I also enjoy reading, playing Sudoku, and loafing with my family.
                </p>
                <p>If you want a website that's done right from the start, intuitive, and well-designed - let's connect: hi@yessikenney.com</p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    Fluent in
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        HTML
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-secondary"
                    >
                        CSS
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Javascript
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Accessible Design
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Sitecore
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Figma
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        WordPress
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Drupal
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Wix
                    </span>

                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Webflow
                    </span>
                   <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1  outline-secondary"
                    >
                        Spanish
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</section>
