---
import { SOCIALS } from "@/consts";
---

<section id="Contact" class="container mx-auto my-28 p-10 space-y-12">
    <h2 class="heading text-5xl lg:text-9xl uppercase">Get in Touch</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
        <div class="space-y-6">
            <p class="text-xl lg:text-3xl max-w-xl">
                Got an idea? A problem? A compliment? Slide into my inbox —
                
            </p>
            <p> Open to remote roles where front-end development, design, and accessibility overlap.</p>

            <div class="text-xl space-y-2">
                {
                    SOCIALS.map((link) => (
                        <p>
                            <a
                                href={link.HREF}
                                target="_blank"
                                class="underline hover:text-secondary transition"
                            >
                                {link.NAME}
                            </a>
                        </p>
                    ))
                }
            </div>
        </div>

        <form class="space-y-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <div class="relative">
                    <input
                        type="text"
                        id="name"
                        name="name"
                        class="peer border border-secondary border-dashed p-4 text-xl w-full focus:outline-none rounded-3xl placeholder-transparent"
                        placeholder="Name"
                        required
                    />
                    <label
                        for="name"
                        class="absolute left-4 top-4 text-xl text-gray-500 peer-placeholder-shown:top-4 peer-placeholder-shown:text-xl peer-focus:-top-2 peer-focus:text-sm peer-focus:px-2 peer-focus:text-secondary transition-all peer-focus:bg-background"
                    >
                        Name
                    </label>
                </div>

                <div class="relative">
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="peer border border-secondary border-dashed p-4 text-xl w-full focus:outline-none rounded-3xl placeholder-transparent"
                        placeholder="Email"
                        required
                    />
                    <label
                        for="email"
                        class="absolute left-4 top-4 text-xl text-gray-500 peer-placeholder-shown:top-4 peer-placeholder-shown:text-xl peer-focus:-top-2 peer-focus:px-2 peer-focus:text-sm peer-focus:text-secondary transition-all peer-focus:bg-background"
                    >
                        Email
                    </label>
                </div>
            </div>

            <div class="relative">
                <textarea
                    id="message"
                    name="message"
                    rows="6"
                    class="peer border border-secondary border-dashed p-4 text-xl w-full focus:outline-none rounded-3xl placeholder-transparent resize-none"
                    placeholder="Message"
                    required></textarea>
                <label
                    for="message"
                    class="absolute left-4 top-4 text-xl text-gray-500 peer-placeholder-shown:top-4 peer-placeholder-shown:text-xl peer-focus:-top-2 peer-focus:text-sm peer-focus:text-secondary transition-all peer-focus:px-2 peer-focus:bg-background"
                >
                    Message
                </label>
            </div>

            <button
                type="submit"
                class="flex items-center justify-center bg-primary rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition"
            >
                Send Message
            </button>
        </form>
    </div>
</section>
