---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props as {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};
---

<li>
  <a
    class="group relative mb-6 flex cursor-pointer flex-col items-center justify-between gap-6 border-b border-secondary/20 pb-6 md:flex-row md:gap-10"
    href={`/${entry.collection}/${entry.id}`}
  >
    <div class="space-y-4 text-center lg:text-left">
      <h4 class="heading md:text-1xl line-clamp-2 max-w-xl text-lg uppercase">
        {entry.data.title}
      </h4>
      <p
        class="mx-auto max-w-2xl text-base leading-relaxed text-secondary/80 md:text-lg"
      >
        {entry.data.description}
      </p>
    </div>
  </a>
</li>
