---
import Card from "./Card.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"blog">[] = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
---

<section id="Projects" class="container mx-auto px-6 mt-18">
  <div class="overflow-hidden mb-12">
    <div class="flex">
      <div class="flex shrink-0 whitespace-nowrap">
        {
          Array.from({ length: 10 }).map((_) => (
            <h2 class="heading text-5xl md:text-9xl uppercase mr-4 md:mr-8 -mb-2">
              Posts
            </h2>
          ))
        }
      </div>
      <div class="flex shrink-0 whitespace-nowrap" aria-hidden="true">
        {
          Array.from({ length: 10 }).map((_) => (
            <h2 class="heading text-5xl md:text-9xl uppercase mr-4 md:mr-8 -mb-2">
              Posts
            </h2>
          ))
        }
      </div>
    </div>
  </div>
  {allPosts.map((post) => <Card entry={post} />)}
</section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 15s linear infinite;
  }
</style>
