---
import type { CollectionEntry } from "astro:content";

type Props = {
    entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props as {
    entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};
---
   
          

<a
    class="group relative flex flex-col md:flex-row items-center justify-between gap-6 md:gap-10 mb-6 pb-6 border-b border-secondary/20 cursor-pointer"
    href={`/${entry.collection}/${entry.id}`}
>
    
        
   

    <div class="space-y-4 text-center lg:text-left">
        <h3
            class="heading uppercase text-lg md:text-1xl max-w-xl line-clamp-2"
        >
            {entry.data.title}
        </h3>
        <p
            class="text-base md:text-lg text-secondary/80 max-w-2xl mx-auto leading-relaxed">
            {entry.data.description}
        </p>
    </div>
</a>
