---
import Card from "./Card.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).slice(0, 3);
---

<section id="Projects" class="container mx-auto px-6">
  <div class="overflow-hidden mb-12">
    <div class="flex">
      <div class="flex shrink-0 whitespace-nowrap">
        {
          Array.from({ length: 1 }).map((_) => (
            <h2 class="heading text-3xl md:text-9xl uppercase mr-4 md:mr-8 -mb-2">
              Projects
            </h2>
          ))
        }
      </div>

      <!--
      <div class="flex shrink-0 whitespace-nowrap" aria-hidden="true">
        {
          Array.from({ length: 1 }).map((_) => (
            <h2 class="heading text-3xl md:text-9xl uppercase mr-4 md:mr-8 -mb-2">
              work
            </h2>
          ))
        }
      </div> -->
    </div>
  </div>
  {allProjects.map((project) => <Card entry={project} />)}
</section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 15s linear infinite;
  }
</style>
