* {
    margin: 0;
    box-sizing: border-box;
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


figure {
    margin: 1rem;
}

figure img {
    max-height: 15rem;
}