* {
    margin: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Open Sans';
    background-color: black;
}

header {
    margin-top: 3rem;
}

h1 {
    font-family: 'Orbitron';
    color: goldenrod;
    text-align: center;
}

button {
    display: inline-block;
    padding: none;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    text-align: center;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: black;
    color: white;
    transition: all 0.3s;

}

.mainHeader > button {
        display: inline-block;
        padding: 1rem;
        border: 1px solid goldenrod;
        box-sizing: border-box;
        box-shadow: none;
        text-align: center;
        font-size: 0.75em;
        text-transform: uppercase;
        font-weight: 600;
        background-color: black;
        color: white;
        transition: all 0.3s;
    
    }
 
button:hover {
    color: #ffffff;
    background-color: goldenrod;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a:visited {
    text-decoration: none;
    color: white;
    background-color: black;
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


figure {
    margin: 1rem;
    /*padding: 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.9); */
}

figure img {
    max-height: 15rem;
}

figcaption {
    background-color: #be9b4e;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
}