@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&family=Sacramento&display=swap');

/* base reset */
* {
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-color: rosybrown;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 1.2;
}

nav {
    background-color: seashell;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 1.2rem;
}


.nav-list {
    display: flex;
    justify-content:  flex-end;
    font-size: 1.2rem;
    font-weight: 800;
    list-style: none;
    margin-right: 2rem;

}


.nav-list a {
    text-decoration: none;
    color: sienna;
}

a:visited{
    color:sienna;
}


.nav-list a:hover {
    background-color: goldenrod;
    
}

li {
    list-style-type: none;
    margin-left: 2rem;
}
#welcome-section {
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    width: 100 vw;
    height: 100vw;
    align-items: center;
    justify-content: center;
}

#welcome-section > h1 {
    font-family: 'Sacramento', monospace;
    font-size: 3rem;
}

#welcome-section > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
    max-height: 300px;;


.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #45567d;
}