---
layout: layouts/base.njk
title: Credits
siteName: Yessi Kenney
headerContent: " <h2> CREDITS </h2><br/>
<p>Resources I used to build this site.</p>"
---


   


  <main>
    <section>
        <ul>
          <li> Builty with <a href="https://www.freecodecamp.org/news/learn-eleventy/" target="blank">11ty</a></li>
            <li><a href="https://codepen.io/oliviale/pen/dyydRqJ" target="_blank">Olivia Ng's Just Bullet Journal Things</a></li>
            <li><a href="https://ohhelloana.blog" target="_blank">Oh Hello Ana Blog</a></li>
            <li><a href="https://cavacado.neocities.org/posts/020221/">Cavacado</a></li>
        </ul>
    </section>
    
 
  </main>

