@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,900&display=swap');



/*colors*/
:root {
  --default-text-color: #111111;
  --default-background-color: #fafafa; 
  --cloud-blue: #a3c9f9;
  --cloud-blue-15: rgba(163, 201, 249, 0.15);
  --cloud-blue-12: rgba(163, 201, 249, 0.12);
  --cloud-blue-10: rgba(163, 201, 249, 0.1);
  --cloud-blue-20: rgba(163, 201, 249, 0.2);
  --cloud-blue-30: rgba(163, 201, 249, 0.3);
}


/* BASE RESET */
* {
    margin: 0;
    padding: 0;
}


html {

    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*UNIVERSAL STYLES*/
body {
    display:flex;
    flex-direction: column;
     background-color: var(--default-background-color);

    font-family: 'Work Sans', sans-serif;
    font-size: 16px; /* 1rem*/
    line-height: 1.2;
    margin: 0.5rem auto;
    max-width: 100%;
}

h1 {
    color: #111111;
    font-weight: 900;
    margin: 3rem 6rem;
    display: flex;  
    font-size: 3.25rem;
    text-transform: uppercase;
    text-align: center;
   
}

.title-cloud {
	margin: 20px 0 0 80px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: linear-gradient(to bottom, var(--cloud-blue-30), (var(--cloud-blue-20)));
	box-shadow: 
        20px 20px 0 0 var(--cloud-blue-15), 
        60px -30px 0 0 var(--cloud-blue-10),
	    60px 50px 0 0 var(--cloud-blue-12),
        -50px -20px 0 0 var(--cloud-blue-12),
		-50px 20px 0 0 var(--cloud-blue-12), 
        -40px 50px 0 0 var(--cloud-blue-20);
	position: relative;
	line-height: 1;
	padding: 1.5rem 1rem 1.5rem 0;
	transform: rotate(0deg);
	span {
		display: inline;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		&:nth-child(2) {
			transform: translate(-4px, -8px);
		}
	}
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-out;
    color: #111111;

}

a:hover{
    color: #5A6273;
 }

 a:visited{
    color:#004E5B;
 }

img {
    display: block;
    width: 100%;
    max-width: 700px;
}

h3 {
    margin: 0.5rem auto;
    color: #004E5B;
    margin-top: 1.75rem;
}


button {
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    align-items: center;
    margin: 3rem 1rem 1rem -0.5rem;
    background-color: #5A6273;
}

button a:visited{
    color: #e6e6e6;

}


 button a {
     font-size: 2rem;
     font-family: 'Work Sans';
     text-transform: uppercase;
     color: #e6e6e6;  
 }

 button:hover {
    background-color: #e6e6e6;
    transition: all 0.2s ease-out;
 }

 button a:hover{
    color: #5A6273;
 }
 

/* NAV */
nav {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 1rem;
    
}


.nav-list {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: flex-start;
    padding: 2rem 4rem;
}

@media screen and (max-width: 600px) {
   
    
    .nav-list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-list a {
        font-size: 1.5rem;
        font-weight: 200;
        padding: 1px;
    }
   
}
    
/* NAV LIST LINKS */   
    
.nav-list a {
    font-size: 2rem;
    margin-right: 2rem;
    color: #004E5B;
    padding: 0.25em;
    
}

.nav-list a:hover {
    color: #004E5B;
    background-color:#e6e6e6;
    transition: all 0.2s;
    border-radius: 0.5rem;
 }

.nav-list a:visited{
    color: #004E5B;
}






/* WELCOME-SECTION */



.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin: 0 auto;
    top: 0;
    left: 0;
    max-width: 66%;
    align-items: center;
    border-bottom: solid 0px #004E5B;
}

.welcome-section h2 {
    text-align: center;
}

.skills-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#home > h1 {
    font-family: 'Abril Fatface', monospace;
    font-size: 6rem;
    color: #ffffff;
    text-transform: none;
    background-color: none;
    
}

#home > h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
}

#home > p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 100;
    margin-top: 1rem;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    #home > h1 {
        font-size: 5rem;
    }
    #home > h2 {
        font-size: 2rem;
    }
    
    .home {
        width: 100%;
    }
}


/* PROJECT SECTION */



.projects, .about, .visit  {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
    max-width: 66%;
   border-top: 0px solid #004E5B;
   
}

.projects > h2 {
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid #004E5B;
}
.visit > h2 {
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid #004E5B;
}
.about > h2 {
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid #004E5B;
}





@media screen and (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 3px solid #004E5B;
        
    }

    .project-image {
        min-width: 200px;
        margin: 1rem auto 0 auto;
    }


    .project-section > h1 {
        justify-content: center;

    }
}





/* LIGHTBOX */

.preview {
	width: 100%;
}

.row {
	display: flex;
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.row > img {
    min-height: 300px;
    margin: 1rem;
    max-width: calc(100%/3); 
}

.row > .col {
  padding: 0 8px;
}

.col {
  float: center;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 80%;
  max-width: 1200px;
}

.slide {
  display: none;

}

.image-slide {
	width: 100%;
    margin: 0.5rem;
    padding: 1rem;
}

.modal-preview {
	width: 100%;
    margin: 0.5rem;
    padding: 1rem;
}

.dots {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

img.preview, img.modal-preview {
  opacity: 0.6;
}

img.active,
.preview:hover,
.modal-preview:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.close {
  color: white;
  position: relative;
  top: 0.5rem;
  right: 1rem;
  padding-left: 2rem;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.previous {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/* CONTACT SECTION */



.contact-section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
   

}


.emailme {
    font-size: 1rem;
    color: #5A6273;
    margin: 0;
    max-width: 45%;
    background-color: rgba(255,255,255,0.7);
    padding: 3rem;
    text-align: center;
    border-radius: 0.75rem;
  
}


.selfie { 
    width: 100%;
    height: auto;
    max-width: 366px;
    border: #e6e6e6;
    border-radius: 0.75rem;
  
}

.contact-section > button {
    font-weight: 600;
}


@media screen and (max-width: 600px) {

    .emailme {
        font-size: 1rem;
        color: #5A6273;
        margin: 2rem;
        max-width: 75%;
        text-align: center;
    }

    .invite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 2rem auto 0 auto;
        height: 75vh;
        
    }

    .contact-section > h1 {
        justify-content: center;
    }
   
}



/* FOOTER */
footer {
    background-color: #ecefff;
    display: flex;
    height: 15%;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > p {
    font-size: 2rem;
    color: #203d47;
}

.social-links > a {
    width: 100%;
    font-size: 4rem;
    margin: 1.5rem;
    color: #fafafa;
    
    
}

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
    
    }

    .sm-links > a {
        font-size: 3rem;
    }

    footer > p {
        font-size: 1.5rem;
    }
}


