body {
    background-color: pink;
}
.senatorGrid {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1rem;
}

figcaption { 
    display: flex;
    justify-content: space-around;
}

.fa-democrat {
    color: blue;
}

.fa-republican {
    color: red;
}

.fa-star {
    color: yellow;
}