/* BASE RESET */

* {
    margin: 0;
    box-sizing: border-box;
  
}
body {
    background-color:  rgb(169, 184, 199);
    font-family: 'Open Sans';
}


/*HEADER*/



.pageTitle {
    color: #000;
    text-align: center;
    margin-top: 3rem; 
    
}

.pageTitle > h2 {
 font-style: italic;
 font-weight: 200;
 font-size: 2.5rem;
 margin-bottom: -2rem;
 margin-left: -6rem;
 text-transform: uppercase;
}

.pageTitle > h1 {
    font-weight: 700;
    font-size: 3rem;
   }


   /*BUTTON STYLES*/

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border: 2px solid grey;
    padding: 1.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #e6e6e6;
    color: rgb(66, 63, 63);
    cursor: pointer;
}



/* MAIN */

.senateGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 3rem auto 0 auto;
}

.scene {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #e6e6e6;
}

figcaption {
 
 display: flex;
 align-items: center;
 justify-content: space-around;
}

i {
    font-size: 2rem;
    padding: 0.5rem;
}

p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: rgb(43, 44, 46);
}

/* CARD ANIMATION FLIPS */

.cardBack {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    backface-visibility: hidden;
}


.card-face-front {
    background: aliceblue;
}

.card-face-back {
    background: #f3f3f3;
   /* background: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 20px, #999797 30px, #f3f3f3 25px);*/
    transform: rotateY(180deg);
}


.card.is-flipped {
    transform: rotateY(180deg);
}
/* PARTY ICONS*/

.fa-democrat {
    color: #000;
}

.fa-republican {
    color: #000;
    
}

.fa-star {
    color: lightgrey;
}

